<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin for test manage platform</title>

    <!--引入本地的样式，在static文件夹下-->
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}" >

    <!-- Bootstrap core CSS -->
    <!--引用网络的样式，有可能会受网络连通的影响
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    -->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="/login_action/">
        <h2 class="form-signin-heading">测试平台</h2>
        <label for="text" class="sr-only">username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <span style="color:red">{{ error }}</span> <!--让错误提示展示为红色-->
        {%  csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->


